In [1]:
#we import libraries as necessary
import pandas as pd
import re
import src.columns as col
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# we open the first dataset
emissions = pd.read_csv('input/Greenhouse_Gas_Emissions_worldwide.csv',encoding='latin-1')
emissions.head()

,Country or Area,Year,co2_gigagrams,hfc_gigagrams,methane_gigagrams,pfc_gigagrams,sf6_gigagrams,n2o_gigagrams
0,Australia,2012,397830.6047,7945.106379,111709.4988,253.697462,134.111252,25775.42951
1,Australia,2011,398161.3872,7512.150105,110274.7423,259.250564,134.136620,25201.09362
2,Australia,2010,399364.8191,6942.606891,109062.6389,243.764011,145.185945,24451.85748
3,Australia,2009,398668.7713,6353.309697,110806.5324,307.886656,143.230925,24897.90320
4,Australia,2008,399084.1509,5810.538264,113592.7600,381.135610,158.400094,25546.77744

In [3]:
#we explore data i for further understanding
emissions.shape

(989, 8)

In [4]:
#we will rename columns removing blank spaces to avoid  problems in future by calling a function from the
# file columns.py
col.rename_columns(emissions)
emissions.columns

Index(['Country_or_Area', 'Year', 'co2_gigagrams', 'hfc_gigagrams',
       'methane_gigagrams', 'pfc_gigagrams', 'sf6_gigagrams', 'n2o_gigagrams'],
      dtype='object')