In [1]:
#we import libraries as necessary
import pandas as pd
import re
import src.cleaning as clean
import src.manipulating_df as man
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# we open the first dataset about GHG emissions worldwide
emissions1 = pd.read_csv('input/worldwide_emission _data.csv',encoding='latin-1')
emissions1.head()

,Country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,8.515264e+07,9.191295e+07,1.003652e+08,1.125912e+08,1.233332e+08,1.333337e+08,1.431228e+08,1.532303e+08,1.654882e+08,1.785029e+08
1,Africa,0,0,0,0,0,0,0,0,0,...,3.183077e+10,3.301904e+10,3.421283e+10,3.541120e+10,3.664504e+10,3.789569e+10,3.918617e+10,4.047518e+10,4.178583e+10,4.311757e+10
2,Albania,0,0,0,0,0,0,0,0,0,...,2.287948e+08,2.331696e+08,2.377643e+08,2.430001e+08,2.479062e+08,2.529662e+08,2.586784e+08,2.646261e+08,2.708990e+08,2.772782e+08
3,Algeria,0,0,0,0,0,0,0,0,0,...,2.894820e+09,3.015005e+09,3.132819e+09,3.252626e+09,3.380736e+09,3.513171e+09,3.656348e+09,3.806940e+09,3.957319e+09,4.107870e+09
4,Americas (other),0,0,0,0,0,0,0,0,0,...,7.746025e+10,7.961787e+10,8.187178e+10,8.416656e+10,8.654197e+10,8.894874e+10,9.139192e+10,9.382747e+10,9.624253e+10,9.864116e+10

In [3]:
#we explore data i for further understanding
emissions1.shape

(231, 268)

In [4]:
##we want to see the evolution of the emissions worldwide though time
world_emissions=emissions1[emissions1['Country']=='World'].T
world_emissions=world_emissions.reset_index()
world_emissions.columns=['Year','CO2_Tonnes']
world_emissions=world_emissions.drop(axis=0,index=0)
world_emissions.head()

   Year CO2_Tonnes
1  1751    9350528
2  1752   18704720
3  1753   28058912
4  1754   37416768
5  1755   46778288

In [5]:
world_emissions

     Year CO2_Tonnes
1    1751    9350528
2    1752   18704720
3    1753   28058912
4    1754   37416768
5    1755   46778288
..    ...        ...
263  2013   1.43e+12
264  2014   1.47e+12
265  2015    1.5e+12
266  2016   1.54e+12
267  2017   1.58e+12

[267 rows x 2 columns]

In [6]:
##we save our desired df as cvs file so as to open it in another jupyter-notebook
man.export_cvs(world_emissions)

Please, enter the name for the cvs file you want to exportworld_emissions

'world_emissions has been exported to cvs file'

In [9]:
emissions1[emissions1['Country'].isin(['China','India'])]
emissions1.head()

,Country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,8.515264e+07,9.191295e+07,1.003652e+08,1.125912e+08,1.233332e+08,1.333337e+08,1.431228e+08,1.532303e+08,1.654882e+08,1.785029e+08
1,Africa,0,0,0,0,0,0,0,0,0,...,3.183077e+10,3.301904e+10,3.421283e+10,3.541120e+10,3.664504e+10,3.789569e+10,3.918617e+10,4.047518e+10,4.178583e+10,4.311757e+10
2,Albania,0,0,0,0,0,0,0,0,0,...,2.287948e+08,2.331696e+08,2.377643e+08,2.430001e+08,2.479062e+08,2.529662e+08,2.586784e+08,2.646261e+08,2.708990e+08,2.772782e+08
3,Algeria,0,0,0,0,0,0,0,0,0,...,2.894820e+09,3.015005e+09,3.132819e+09,3.252626e+09,3.380736e+09,3.513171e+09,3.656348e+09,3.806940e+09,3.957319e+09,4.107870e+09
4,Americas (other),0,0,0,0,0,0,0,0,0,...,7.746025e+10,7.961787e+10,8.187178e+10,8.416656e+10,8.654197e+10,8.894874e+10,9.139192e+10,9.382747e+10,9.624253e+10,9.864116e+10

In [10]:
emissions1.isnull()

,Country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
227,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
228,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
229,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
230,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
# we open the second dataset about GHG emissions worldwide
emissions = man.open_cvs()
emissions.head()
##Greenhouse_Gas_Emissions_worldwide is the file in input folder

Please, enter the folder where your cvs file is saved:
input
Please, enter the name for the cvs file you want to open without extension:
Greenhouse_Gas_Emissions_worldwide

,Country or Area,Year,co2_gigagrams,hfc_gigagrams,methane_gigagrams,pfc_gigagrams,sf6_gigagrams,n2o_gigagrams
0,Australia,2012,397830.6047,7945.106379,111709.4988,253.697462,134.111252,25775.42951
1,Australia,2011,398161.3872,7512.150105,110274.7423,259.250564,134.136620,25201.09362
2,Australia,2010,399364.8191,6942.606891,109062.6389,243.764011,145.185945,24451.85748
3,Australia,2009,398668.7713,6353.309697,110806.5324,307.886656,143.230925,24897.90320
4,Australia,2008,399084.1509,5810.538264,113592.7600,381.135610,158.400094,25546.77744

In [13]:
#we will rename columns removing blank spaces to avoid  problems in future by calling a function from the
# file columns.py
clean.rename_columns(emissions)
emissions.head()

,Country_or_Area,Year,co2_gigagrams,hfc_gigagrams,methane_gigagrams,pfc_gigagrams,sf6_gigagrams,n2o_gigagrams
0,Australia,2012,397830.6047,7945.106379,111709.4988,253.697462,134.111252,25775.42951
1,Australia,2011,398161.3872,7512.150105,110274.7423,259.250564,134.136620,25201.09362
2,Australia,2010,399364.8191,6942.606891,109062.6389,243.764011,145.185945,24451.85748
3,Australia,2009,398668.7713,6353.309697,110806.5324,307.886656,143.230925,24897.90320
4,Australia,2008,399084.1509,5810.538264,113592.7600,381.135610,158.400094,25546.77744

In [14]:
emissions['Country_or_Area'].unique()

array(['Australia', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Canada',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'European Union', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Latvia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Monaco',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Russian Federation', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom',
       'United States of America'], dtype=object)

In [12]:
#we will analyze biggest areas emissions data
biggest_emissors=emissions[emissions['Country_or_Area'].isin(['European Union','United States of America','Canada','New Zealand','Russian Federation'])]

In [13]:
biggest_emissors.head()

,Country_or_Area,Year,co2_gigagrams,hfc_gigagrams,methane_gigagrams,pfc_gigagrams,sf6_gigagrams,n2o_gigagrams
115,Canada,2012,550546.5937,7782.902339,90563.31300,1551.634232,448.626749,47733.39788
116,Canada,2011,557289.6908,7547.116008,88579.02575,1455.988032,422.209423,45918.34414
117,Canada,2010,554408.2391,7072.550327,88598.38633,1607.522570,459.009704,47156.54725
118,Canada,2009,542521.1917,6306.341586,90850.97835,2171.965946,393.058473,47069.70236
119,Canada,2008,576574.7423,5550.652377,94222.84110,2252.318593,683.946291,51796.19592

In [15]:
# we open the second dataset about vehicles' emissions
vehicles = man.open_cvs()
vehicles.head()
##CO2_vehicles_Emissions_Canada is the file in input folder

Please, enter the folder where your cvs file is saved:
input
Please, enter the name for the cvs file you want to open without extension:
CO2_vehicles_Emissions_Canada

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [15]:
#we explore data i for further understanding
vehicles.shape

(7385, 12)

In [16]:
#we will rename columns removing blank spaces to avoid  problems in future by calling a function from the
# file columns.py
clean.rename_columns(vehicles)
vehicles.head()

,Make,Model,Vehicle_Class,Engine_Size(L),Cylinders,Transmission,Fuel_Type,Fuel_Consumption_City_(L/100_km),Fuel_Consumption_Hwy_(L/100_km),Fuel_Consumption_Comb_(L/100_km),Fuel_Consumption_Comb_(mpg),CO2_Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [17]:
vehicles['Vehicle_Class'].unique()

array(['COMPACT', 'SUV - SMALL', 'MID-SIZE', 'TWO-SEATER', 'MINICOMPACT',
       'SUBCOMPACT', 'FULL-SIZE', 'STATION WAGON - SMALL',
       'SUV - STANDARD', 'VAN - CARGO', 'VAN - PASSENGER',
       'PICKUP TRUCK - STANDARD', 'MINIVAN', 'SPECIAL PURPOSE VEHICLE',
       'STATION WAGON - MID-SIZE', 'PICKUP TRUCK - SMALL'], dtype=object)

In [18]:
vehicles['Fuel_Type'].unique()

array(['Z', 'D', 'X', 'E', 'N'], dtype=object)

In [16]:
# we open the second dataset about registered vehicles in the world
register = man.open_cvs()
register.head()
##registered_vehicles is the file in input folder

Please, enter the folder where your cvs file is saved:
input
Please, enter the name for the cvs file you want to open without extension:
registered_vehicles

               Country   Year Data Source Number of registered vehicles
0          Afghanistan   2013      RS_001                       655 357
1              Albania   2016      RS_002                       563 106
2  Antigua and Barbuda   2016      RS_003                        36 030
3            Argentina   2016      RS_004                    21 633 587
4              Armenia                                              NaN