In [1]:
#we import libraries as necessary
import pandas as pd
import re
import src.columns as col
import src.manipulating_df as man
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#we wil import our previously cleaned worldwide_emissions cvs file to take conclusions out of it
world_emissions=man.open_cvs()

Please, enter the name for the cvs file you want to open without extension:
world_emissions

In [3]:
world_emissions

   Year  CO2_Tonnes
0  1751     9350528
1  1752    18704720
2  1753    28058912
3  1754    37416768
4  1755    46778288