In [1]:
#we import libraries as necessary
import pandas as pd
import src.self_choice as choice
import matplotlib.pyplot as plt

### Use man.open_df to select the DataFrame you want to take conclusions out

In [2]:
man.open_df.__doc__

"\n    This function opens a DataFrame from src folder in the project.\n    No parameters are needed, except of the name the function will ask you\n    Don't forget to add .head() please!\n    "

In [3]:
man.open_df().head()

Hi! Which topic would you like to know about?
-Worldwide CO2 emissions in History,
-Different vehicle types CO2 emissions
-Or Registered vehicles worldwide along time?
Set 'world_emissions' for the first one, 'vehicles' for the second one or 'register' for the last one
Please, enter the name for the DataFrame you want to open from the list above:
world_emissions

   Year  CO2_MillionTonnes
0  1751               0.09
1  1752               0.19
2  1753               0.28
3  1754               0.37
4  1755               0.47