In [2]:
#we import libraries as necessary
import pandas as pd
import re
import src.cleaning as clean
import src.manipulating_df as man
import matplotlib.pyplot as plt
import numpy as np

In [3]:
man.open_df()

Please, enter the name for the cvs file you want to open without extension:
register

                                Country  Year  Number_of_registered_vehicles
0                               Albania  2016                         563106
1                   Antigua and Barbuda  2016                          36030
2                             Argentina  2016                       21633587
3                             Australia  2016                       18326236
4                               Austria  2016                        7421647
..                                  ...   ...                            ...
130         United Republic of Tanzania  2016                        2163623
131            United States of America  2015                      281312446
132                             Uruguay  2016                        2342026
133  Venezuela (Bolivarian Republic of)  2016                        7999760
134                            Viet Nam  2016                       50666855

[135 rows x 3 columns]